html, body
	height: 100%

body
	&.lock
		+phone
			overflow: hidden
	font-family: $font-primary
	color: $txt-primary
$wrapper: 856
$wrapperPadding: 20

*,
*::before,
*::after
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box
a
	text-decoration: none
	color: inherit
h1, h2, h3, h4, h5 h6
	color: inherit
img
	vertical-align: top
.wrapper
	max-width: $wrapper+$wrapperPadding*2+px
	margin: 0 auto
	height: 100%
	padding: 0 $wrapperPadding+px

.container
	height: 100%
	+flex(space-between)
	flex-direction: column

.content
	flex: 1
	padding: 90px 0 0
	+r(850)
		padding: 30px 0 0

.menu
	&__list
		list-style: none
		+flex
	&__item
		margin-left: 30px
		&.active
			.menu__link
				color: $txt-third
	&__link
		font-size: 20px
		font-weight: 500
		color: $txt-primary
		+smooth

		&:hover
			+rmin(767)
				color: $txt-third


.header
	&__body
		+flex(space-between, center)
	&__menu
		+phone
			+header-menu()
			left: 100%
			background-color: #fff
			z-index: 100
			padding-top: 0

			&.active
				left: 0
			.menu
				&__list
					flex-direction: column
				&__item
					margin-left: 0
					border-bottom: 1px solid #000
				&__link
					display: block
					padding: 15px 0


.burger
	+burger(30, 20, 2, #000)




.button
	background-color: $button-primary-bg
	color: $button-primary-txt
	display: inline-flex
	border-radius: 2px
	padding: 15px 20px
	font-weight: 500
	font-size: 20px
	line-height: 1.45
	+smooth
	&:hover
		background-color: darken($button-primary-bg, 5%)

.title
	font-size: 44px
	line-height: 60 / 44 * 100%
	font-weight: 700
	+phone
		font-size: 32px

	&-posts
		font-size: 22px

.text
	font-size: 16px
	line-height: 23 / 16 * 100%


.social
	+flex(center, center)
	&__icon
		height: 30px
		width: 30px
		fill: $txt-primary
		margin: 0 17px
		+smooth
		&:hover
			fill: $txt-third