mixin article()
	section.article
		.wrapper
			.article__body
				h1.article__title Designing Dashboards with usability in mind
				.article__info
					.article__year 2020
					.article__category Dashboard, User Experience Design
				.article__text 
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti provident at ducimus non vel perferendis hic incidunt ea eos quo fugiat delectus iure accusantium nulla minima sint consequuntur dolorum aperiam natus, fugit voluptatem quisquam animi? Quae officia harum voluptatibus ea, sint illum! Impedit dolorum, minus possimus aliquam sit! Maiores, quisquam?
					img(src="static/img/content-1.jpg", alt="content image")
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, officia! Maxime, possimus. Recusandae voluptatem maiores incidunt, eum tenetur labore facere magni reiciendis, est corporis nihil rerum blanditiis ratione expedita placeat, iure quisquam ipsa vitae repudiandae!
					img(src="static/img/content-2.jpg", alt="content image")
					img(src="static/img/content-3.jpg", alt="content image")