mixin blog()
	section.blog
		h1.blog__titlee.title Blog
		.blog__items
			.blog__item
				a.blog__title(href="#") UI interactions od the week
				.blog__info
					.blog__date 12 Feb 2020 
					span.blog__separator |
					.blog__category Express, Handlebars
				.blog__text.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum non quam suscipit quae nulla accusantium fugit, necessitatibus blanditiis unde laborum nemo impedit, asperiores voluptas, eveniet.
			.blog__item
				a.blog__title(href="#") UI interactions od the week
				.blog__info
					.blog__date 12 Feb 2020 
					span.blog__separator |
					.blog__category Express, Handlebars
				.blog__text.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum non quam suscipit quae nulla accusantium fugit, necessitatibus blanditiis unde laborum nemo impedit, asperiores voluptas, eveniet.
			.blog__item
				a.blog__title(href="#") UI interactions od the week
				.blog__info
					.blog__date 12 Feb 2020 
					span.blog__separator |
					.blog__category Express, Handlebars
				.blog__text.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum non quam suscipit quae nulla accusantium fugit, necessitatibus blanditiis unde laborum nemo impedit, asperiores voluptas, eveniet.
			.blog__item
				a.blog__title(href="#") UI interactions od the week
				.blog__info
					.blog__date 12 Feb 2020 
					span.blog__separator |
					.blog__category Express, Handlebars
				.blog__text.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum non quam suscipit quae nulla accusantium fugit, necessitatibus blanditiis unde laborum nemo impedit, asperiores voluptas, eveniet.