mixin footer()
	footer.footer
		.wrapper
			.footer__body
				.footer__social.social
					a.social__item(href="#")
						+svg('fb', 'social__icon')
					a.social__item(href="#")
						+svg('insta', 'social__icon')
					a.social__item(href="#")
						+svg('Group', 'social__icon')
					a.social__item(href="#")
						+svg('Linkedin', 'social__icon')
				.footer__copy Copyright (c) 2020 All rights reserved  