mixin hero()
	section.hello
		.wrapper
			.hello__body
				.hello__content
					h1.hello__title.title Hi, i am John, <br>Creative Technologist
					p.hello__text.text Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Sunt eum, asperiores suscipit distinctio nihil cumque et pariatur laborum quas explicabo ea iure quis sit natus.
					a.hello__button.button(href="#") Download Resume
				.hello__avatar.avatar
					+webp('avatar__pic', 'kanye', 'jpg', 'my avatar')