mixin recent()
	section.recent-posts
		.wrapper
			.recent-posts__body
				.recent-posts__header
					.recent-posts__title.title-posts Recent posts
					a.recent-posts__all(href="#") View all
				.recent-posts__items
					.recent-posts__column
						article.recent-posts__item.recent-post
							a.recent-post__title(href="#") Making a desing system from scratch
							.recent-post__info 12 Feb 2020 <span>|</span> Design, Pattern
							.recent-post__text.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi unde eos dolores nisi dolore tempore obcaecati nam dolorum iusto consectetur.
					.recent-posts__column
						article.recent-posts__item.recent-post
							a.recent-post__title(href="#") Making a desing system from scratch
							.recent-post__info 12 Feb 2020 <span>|</span> Design, Pattern
							.recent-post__text.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi unde eos dolores nisi dolore tempore obcaecati nam dolorum iusto consectetur.