mixin works()
	section.works
		h1.works__title.title Works
		article.works__item
			a.works__img(href="#")
				+webp('works__pic', 'work-1', 'jpg', 'work')
				.works__body
					a.works__title(href="#") Designing Dashboards
					.works__info
						a.works__year(href="#") 2020
						a.works__category(href="#") Dashboard
						.works__text.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad architecto quis minus corporis, fugit sapiente vel quidem. Explicabo minus, eaque nisi? Magnam eligendi, asperiores illo id ex, quam. Perferendis, voluptate? 
		article.works__item
			a.works__img(href="#")
				+webp('works__pic', 'work-2', 'jpg', 'work')
				.works__body
					a.works__title(href="#") Designing Dashboards
					.works__info
						a.works__year(href="#") 2020
						a.works__category(href="#") Dashboard
						.works__text.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad architecto quis minus corporis, fugit sapiente vel quidem. Explicabo minus, eaque nisi? Magnam eligendi, asperiores illo id ex, quam. Perferendis, voluptate? 
		article.works__item
			a.works__img(href="#")
				+webp('works__pic', 'work-3', 'jpg', 'work')
				.works__body
					a.works__title(href="#") Designing Dashboards
					.works__info
						a.works__year(href="#") 2020
						a.works__category(href="#") Dashboard
						.works__text.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad architecto quis minus corporis, fugit sapiente vel quidem. Explicabo minus, eaque nisi? Magnam eligendi, asperiores illo id ex, quam. Perferendis, voluptate? 
		article.works__item
			a.works__img(href="#")
				+webp('works__pic', 'work-4', 'jpg', 'work')
				.works__body
					a.works__title(href="#") Designing Dashboards
					.works__info
						a.works__year(href="#") 2020
						a.works__category(href="#") Dashboard
						.works__text.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad architecto quis minus corporis, fugit sapiente vel quidem. Explicabo minus, eaque nisi? Magnam eligendi, asperiores illo id ex, quam. Perferendis, voluptate? 